body {
    background-color: black;
}



#hero {
    position: relative;
    text-align: center;
  }
  
  #hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }



  /* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
    color:black
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
  }

  
    
  
 

  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: black;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: black;
  }